<div class="topcoat-navigation-bar" ng-controller="HomeCtrl">
    <div class="topcoat-navigation-bar__item left quarter">
        <a class="topcoat-icon-button--quiet" ng-click="slidePage('/linearEquations','modal')">
            <span class="icomatic icon">arrowleft</span>
        </a>
    </div>
    <div class="topcoat-navigation-bar__item center half">
        <h3 class="topcoat-navigation-bar__title">Gaussian Elimination - Partial Pivoting</h3>
    </div>
    <div class="topcoat-navigation-bar__item right quarter">
        <a class="topcoat-icon-button--quiet" ng-click="changeSettings()">
            <span class="topcoat-icon settings-icon"></span>
        </a>
    </div>
</div>
<div>
    <input class="topcoat-button" type="button" ng-click="calc()" value="DO EET"></input>
    <table id="table" style="width:300px" border="1">
    </table>
</div>