<div class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item center three-quarters">
        <h1 class="topcoat-navigation-bar__title">Calc NA</h1>
    </div>
    <div class="topcoat-navigation-bar__item right quarter">
        <a class="topcoat-icon-button--quiet" ng-click="changeSettings()">
            <span class="topcoat-icon settings-icon"></span>
        </a>
    </div>
</div>
<div class="topcoat-list__container list">
    <h4 class="topcoat-list__header">Type of Method</h4>
    <ul class="topcoat-list">
        <li class="topcoat-list__item" ng-click="slidePage('/eqOneVariable')">
            Equations with one variable
        </li>
        <li class="topcoat-list__item" ng-click="slidePage('/linearEquations')">
            Equation systems
        </li>                     
        <li class="topcoat-list__item" ng-click="slidePage('/interpolation')">
            Interpolation
        </li>         
        <li class="topcoat-list__item" ng-click="slidePage('/integration')">
            Integration
        </li>
    </ul>
    <div class="topcoat-navigation-bar">
    </div>
</div>
<ng-include src="'partials/settingsOverlay.html'"></ng-include>