<div class="topcoat-navigation-bar" ng-controller="HomeCtrl">
    <div class="topcoat-navigation-bar__item left quarter">
        <a class="topcoat-icon-button--quiet" ng-click="slidePage('/','modal')">
            <span class="topcoat-icon home-icon"></span>
        </a>
    </div>
    <div class="topcoat-navigation-bar__item center half">
        <h1 class="topcoat-navigation-bar__title">Incremental Search</h1>
    </div>
    <div class="topcoat-navigation-bar__item right quarter">
        <a class="topcoat-icon-button--quiet" ng-click="changeSettings()">
            <span class="topcoat-icon settings-icon"></span>
        </a>
    </div>
</div>
<div class="input">
	<br>
	<form ng-submit="calculate()">
		<label>N. Iterations:</label>
		<input type="text" ng-model="nIter"></input><br>
		<label>Random Start:</label>
		<input type="text" ng-model="x0"></input><br>
		<label>Delta:</label>
		<input type="text" ng-model="delta"></input><br>
		<label>Equation:</label>
		<label>x^3+15=0</label>
		<input class="topcoat-button" type="submit" value="DO EET">
	</form>
	<hr>
	<h2>{{ root }}</h2>
</div>