<div class="topcoat-navigation-bar" ng-controller="HomeCtrl">
    <div class="topcoat-navigation-bar__item left quarter">
        <a class="topcoat-icon-button--quiet" ng-click="slidePage('/eqOneVariable','modal')">
            <span class="topcoat-icon arrowleft"></span>
        </a>
    </div>
    <div class="topcoat-navigation-bar__item center half">
        <h1 class="topcoat-navigation-bar__title">Insert Equations</h1>
    </div>
    <div class="topcoat-navigation-bar__item right quarter">
        <a class="topcoat-icon-button--quiet" ng-click="changeSettings()">
            <span class="topcoat-icon settings-icon"></span>
        </a>
    </div>
</div>
<div class="input">
	<br>
	<form ng-submit="store()">
		<dl>
			<dt><h4>f(x):</h4></dt>
			<dd><input type="text" class="topcoat-text-input" ng-model="equation_f"></input></dd>
			<dt><h4>f'(x):</h4></dt>
			<dd><input type="text" class="topcoat-text-input" ng-model="equation_ff"></input><br></dd>
			<dt><h4>f''(x):</h4></dt>
			<dd><input type="text" class="topcoat-text-input" ng-model="equation_fff"></input></dd>
			<dt><h4>g(x):</h4></dt>
			<dd><input type="text" class="topcoat-text-input" ng-model="equation_g"></input></dd>
		</dl>

		<input class="topcoat-button" type="submit" value="DO EET">
	</form>
</div>