<div class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item left quarter">
        <a class="topcoat-icon-button--quiet" ng-click="slidePage('/','modal')">
            <span class="topcoat-icon home-icon"></span>
        </a>
    </div>
    <div class="topcoat-navigation-bar__item center half">
        <h1 class="topcoat-navigation-bar__title">Equation Systems</h1>
    </div>
    <div class="topcoat-navigation-bar__item right quarter">
        <a class="topcoat-icon-button--quiet" ng-click="changeSettings()">
            <span class="topcoat-icon settings-icon"></span>
        </a>
    </div>
</div>
<div class="topcoat-list__container list">
	<h4 class="topcoat-list__header">First</h4>
    <ul class="topcoat-list">
    	<li class="topcoat-list__item" ng-click="promptDegree()">
    		Insert Matrix
    	</li>
    </ul>

    <h4 class="topcoat-list__header">Then, choose a method:</h4>
    <ul class="topcoat-list">
        <li class="topcoat-list__item" ng-click="slidePage('/simple_ge')">
            Simple Gaussian Elimination
        </li>
        <li class="topcoat-list__item" ng-click="slidePage('/ge_total')">
            Gaussian Elimination - Total pivoting
        </li>
        <li class="topcoat-list__item" ng-click="slidePage('/ge_partial')">
            Gaussian Elimination - Partial pivoting
        </li>
        <li class="topcoat-list__item" ng-click="slidePage('/ge_stepped')">
            Gaussian Elimination - Stepped pivoting
        </li>
        <li class="topcoat-list__item" ng-click="slidePage('/lu_doolittle')">
            LU Factorization - Doolittle
        </li>
        <li class="topcoat-list__item" ng-click="slidePage('/lu_cholesky')">
            LU Factorization - Cholesky
        </li>
        <li class="topcoat-list__item" ng-click="slidePage('/lu_crout')">
            LU Factorization - Crout
        </li>
        <li class="topcoat-list__item" ng-click="slidePage('/jacobi')">
            Jacobi
        </li>
        <li class="topcoat-list__item" ng-click="slidePage('/gauss-seidel')">
            Gauss-Seidel
        </li>
    </ul>

    <div class="topcoat-navigation-bar">
    </div>
</div>
<ng-include src="'partials/settingsOverlay.html'"></ng-include>  
